
.terms-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 30px;

  font-family: 'Arial', sans-serif;
  color: #333;
  margin-top: 2%;
  margin-bottom: 2%;
  }
  
  .terms-container h1 {
    font-size: 1.8em; 
    color: #5b5c97; 
    margin-bottom: 15px; 
    border-bottom: 2px solid #5b5c97;
    padding-bottom: 10px; 
  }
  
  .terms-container h2 {
    font-size: 1.4em; 
    color: #5b5c97; 
    margin-top: 25px;
    margin-bottom: 10px; 
  }
  
  .terms-container p {
    font-size: 0.9em;
    line-height: 1.5;
    color: #555; 
    margin-bottom: 15px; 
  }
  
  .terms-container ul {
    margin-left: 20px; 
    margin-bottom: 15px; 
  }
  
  .terms-container li {
    font-size: 0.9em; 
    line-height: 1.5; 
    color: #555; 
    position: relative; 
  }
  
  .terms-container li::marker {
    color: #5b5c97; 
    font-weight: bold; 
  }
  

  .terms-container a {
    color: #007bff;
    text-decoration: none; 
    transition: color 0.3s ease; 
  }
  
  .terms-container a:hover {
    color: #0056b3; 
    text-decoration: underline; 
  }
  
  /* Responsive design for smaller screens */
  @media (max-width: 600px) {
    .terms-container {
      padding: 20px; 
    }
  
    .terms-container h1 {
      font-size: 1.6em; 
    }
  
    .terms-container h2 {
      font-size: 1.3em; 
    }
  }
  