.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    color: black;
    position: fixed;
    top: 0;
    left: 250px;
    right: 0;
    z-index: 20;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  }
  .dashboard-header-part2{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .typing-brand{
    cursor: pointer;
  }
  
  .header-title {
    font-size: 24px; /* Size of the dashboard title */
    font-weight: bold; /* Bold text */
  }
  .notification-icon-dash {
    font-size: 28px;
  
    cursor: pointer;
    color: #ccc;
    
  }
  .notification-content h2{
    color:#242323;
  }
  .static-notification p {
    color: #333; /* Darker text color for better readability */
    background-color: #f8f9fa; /* Light background to make the text stand out */
    border-left: 5px solid purple; /* Add a blue border on the left */
    padding: 15px 15px; /* Add padding for spacing */
    border-radius: 5px; /* Rounded corners */
    font-family: 'Arial', sans-serif; /* Use a clean font */
    font-size: 16px; /* Slightly larger font size for readability */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
    margin: 10px 0; /* Add some space between notifications */
    transition: all 0.3s ease; /* Smooth transition on hover */
}
.static-notification p:hover {
  background-color: #e9ecef; /* Slightly darker background when hovered */
  border-left-color: purple; /* Change border color on hover */
  transform: scale(1.05); /* Slightly enlarge on hover */
}

  .header-logout{
    margin-right: 23px;

  }
  .header-notification,
  .header-account,
  .header-logout {
    margin-left: 20px; /* Spacing between items */
    cursor: pointer; /* Pointer cursor for interactivity */
    position: relative; /* For dropdown positioning */
  }
  
  .header-dropdown {
    position: absolute; /* Position dropdown absolutely */
    top: 100%; /* Align below the account item */
    right: 0; /* Align to the right */
    background-color: white; /* Dropdown background */
    color: black; /* Dropdown text color */
    border-radius: 4px; /* Rounded corners */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Shadow for dropdown */
    display: block; /* Initially shown if dropdownVisible is true */
    z-index: 30; /* Ensure it appears above other elements */
  }
  
  .header-account:hover .header-dropdown {
    display: block; /* Show dropdown on hover */
  }
  

  .header-notification:hover,
.header-account:hover,
.header-logout:hover {
   color: #800080; /* Purple background on hover */

}