.exam-list-container-examlist {
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  width: 92%;
}

.exam-list-grid-examlist {
  display: grid
  ;
      grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
      gap: 37px;
      padding: 20px;
      justify-content: center;
}

.exam-card-examlist {
  cursor: pointer;
  border: 1px solid #e0e0e0; /* Subtle border for each card */
  border-top-right-radius: 10px; /* Rounded corner for the top-right */
  border-bottom-right-radius: 10px; /* Rounded corner for the bottom-right */
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Adds a light shadow effect */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Faster and smoother */
  background: #fff; /* White background for cards */
  text-align: center;
}

.exam-card-examlist:hover {
  transform: translateY(-5px); /* Higher upward lift for a more dramatic effect */
  border-left: 4px solid purple; /* Adds purple border on the left */
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25); /* Stronger shadow effect */
}

.exam-image-examlist {
  width: 35%;
  height: auto;
  max-height: 115px;
  object-fit: contain;
  margin: 0 auto;
  display: block;
}

.exam-title-examlist {
  margin-top: 10px;
  font-size: 12px;
  font-weight: bold;
  color: #333;
}
